<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Home</a>
    </div>

    <div class="ui main container" style = "margin-top: 7em;">
        <% if (locals.flash && locals.flash.error) { %> 
        <div class="ui negative message">
            <%= flash.error %> 
        </div>
        <% } %> 

        <% if (locals.flash && locals.flash.succses) { %> 
            <div class="ui positive message">
                <%= flash.succses %> 
            </div>
        <% } %>  
        <form action="/" method = "post" class='ui form'>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <button type="submit" class ="ui blue submit icon button">
                <i class="icon edit"></i>Submit
            </button>
        </form>
    </div>
</body>
</html>